# 函数

In [1]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [2]:
my_function(5, 6, z=0.7)

0.06363636363636363

## 命名空间， 作用域和本地函数

In [4]:
a = None
def bind_a_variable():
    global a
    a = []

In [6]:
bind_a_variable()

In [7]:
print(a)

[]

## 返回多个值

In [8]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c
a, b, c = f()

In [9]:
print(a, b, c)

5 6 7

## 函数是对象

In [13]:
import re
def remove_punctuation(value):
    return re.sub('[! #? ]', '', value)
    
clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
              value = function(value)
        result.append(value)
    return result

In [11]:
states = ['   Alabama ', 'Georgia! ', 'Georgia', 'georgia', 'FlOrIda', 'south    carolina##', 'West virginia? ']

In [14]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'Southcarolina',
 'Westvirginia']

In [15]:
for x in map(remove_punctuation, states):
    print(x)

Alabama
Georgia
Georgia
georgia
FlOrIda
southcarolina
Westvirginia

## 匿名（lambda）函数

In [16]:
def short_function(x):
    return x * 2
short_function(2)

4

In [20]:
# 单个语句生成
equiv_anon = lambda x: x * 2
equiv_anon(2)

4

In [23]:
strings = ['foo', 'crd', 'bar', 'aaa', 'abab']

In [24]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaa', 'foo', 'abab', 'crd', 'bar']

## 柯里化： 部分参数应用

In [25]:
def add_numbers(x, y):
    return x + y

In [26]:
add_five = lambda y: add_numbers(5, y)

In [27]:
from functools import partial
add_seven = partial(add_numbers, 7)

## 生成器

In [28]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [31]:
gen = squares()
gen

In [32]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

## 生成器表达式

In [34]:
gen = (x ** 2 for x in range(100))
gen

## intertools 模块

In [36]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Alber']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Alber']