# 错误

In [1]:
float('1.23456')

1.23456

In [2]:
float('something')

ValueError: could not convert string to float: 'something'

In [3]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [4]:
attempt_float('something')

'something'

In [5]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [9]:
def attempt_float_two(x):
    try:
        return float(x)
    except ValueError:
        return x

In [7]:
attempt_float_two((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [10]:
def attempt_float_three(x):
    try:
        return float(x)
    except (ValueError, TypeError):
        return x

## finally

In [12]:
f = open(path, 'w')
try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

NameError: name 'path' is not defined